
h1,.h1{

    font-size: 8vw;
}

h3,.h3 {

font-size: 4.2vw;
font-weight: 250;

}

h4,.h4 {

    font-size: 5vw;
    font-weight: 300;
}

h5,.h5 {
    font-size: 4vw;
    font-weight: 200;
}


h6, .h6 {

    font-size: 3.5vw
}

.text-brand {

    font-size: 4.5vw; 
    font-weight:600
}

.img-brand {
    width: 20vw;
}

.display-4  {

font-size: 7vw;
font-weight: 600;
}

.btn-mobile {

font-size: 5vw;
}


.navbar-toggler {
    border: none;
    outline: none;
    color: black;
  }
  .navbar-toggler:focus {
      outline: none;
      box-shadow: none;
  }


  .background-masthead {
background-color: rgba(255, 167, 3, 0.498);

}

.progress, .display-1 {
    height: 15vw;
   margin-left: 0px;
    font-size: 4.7vw;
    font-weight: 500;
    border-radius: 10px
}

.fa-solid {

    font-size: 8vw;
}


.img-don {
    height: 30vw;
}

a {
    text-decoration: underline;
    text-decoration-color: white;
}

.nav-item, .nav-item button  {
font-size: 4vw;
}




/** Spécifique Page DONS START ***/
form {
    border-top: 5px solid #1b72d6;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0,0,0,.075);
    background-color: #fff;
    font-size: 4vw;

  }

  form h2 {
font-size: 6vw;
  }

.form-control {
    font-size: 4vw;
  height: 12vw;
}

form .btn {
font-size: 5vw;
    height: 15vw;
}

/** Spécifique Page DONS  END ***/




/** Spécifique Page Projets **/
svg {

    width:30vw;
}
/** Spécifique Page Projets END **/


/** Spécifique Page Evènements START **/

.select_date {
flex: auto;
font-size: 4vw; 
}


/** Spécifique Page Evènements END **/



/** Spécifique Version ordinateur / tablette START ***/

@media screen and (min-width: 992px) { 


    .background-masthead {
background-color: rgba(255, 255, 255, 0.286);
width: 45vmax;
}

h1,.h1{

font-size: 3vw;
font-weight: 300;
}

h3,.h3{

font-size: 1.5vw;
font-weight: 200;
}

h4,.h4 {
    
    font-size: 1.5vw;
}

.display-4 {

    font-size: 2vw;
}

h5,.h5 {

    font-size: 1.2vw;
}

h6, .h6 {

    font-size: 1.2vw
}

.text-brand {

    font-size: 2vw; 
    font-weight:600;
}


.text-parcours:first-child {

color:#dc3545
}

.text-parcours {

color:black;
font-weight: 300;
}

.img-brand {
    width: 20vmin;
}

.btn-mobile {

    font-size: 1.4vw;
  
}

.progress, .display-1 {
    height: 5vw;
   margin-left: 0px;
    font-size: 2vw;
    font-weight: 500;
    border-radius: 10px
}

.fa-solid {

font-size: 3vw;
}

.img-don {
    height: 10vw;
}

.img-fluid {

    height: 14vw;
}

.text-center, .h1 {
  font-size: 2vw;
  font-weight: 500;
}

.nav-item, .nav-item button  {
    font-size: 1.2vw;
    font-weight: 700;
    }
    


/** Spécifique Page DONS START ***/
form {
max-width: 50%;
font-size: 2vw;
  }

  .title {

    font-size: 1.5vw;
  }
  
  form h2 {
font-size: 1vw;
  }

  form h3 {
    font-size: 1.5vw;
      }

  .form-label {
  font-size: 1vw;
}
.form-control {
    font-size: 1vw;
  height: 2vw;
}

form .btn {
font-size: 2vw;
    height: auto;
}

/** Spécifique Page DONS  END ***/


/** Spécifique Page Evènements START **/

.select_date {
    font-size: 1.3vw;
}



/** Spécifique Page Evènements END **/


/*** Animations **/

.nav-link:hover, a {
    text-decoration: underline;
    }

    .background-masthead { 
        animation: fadeIn 2s; 
    }
        @keyframes fadeIn {
      0% { translate: -100%; }
      100% { translate: 0%; }
    }
    
    
    @keyframes animate_progress {
      0% { translate: -100%; }
      100% { translate: 0%; }
    }
    

}
/** Spécifique Version ordinateur / tablette END ***/


